body {
  background-color: rgb(141, 141, 141);
  text-align: center;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size: 1.6vmin;
  font-family: 'Azeret Mono', monospace;
}

img {
  height:15vh;
  width:15vw;
  margin:0;
}

a {
  text-decoration: underline;
  color:rgb(20, 63, 60);
}

nav {
  background-color: rgb(76, 218, 197);
  border-bottom: 0.3vmin solid black;
  height:7vh;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3vh 1vw 0 1vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.site-name {
  margin-right: auto;
  font-size:4vmin;
  text-decoration: none;
  color:black;
}

.game-card-cont {
  display:flex;
  justify-content: center;
  flex: 1 1 0;
  flex-wrap: wrap;
  gap:1vmin;
}

.game-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:23vw;
  height:23vh;
  gap:1vmin;
  /* border: 0.1vmin solid rgb(41, 172, 143); */
  border: 0.1vmin solid rgb(255, 255, 255);
  border-radius: 0.5vmin;
  background-color: rgb(76, 218, 197);
  font-family: 'Azeret Mono', monospace;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: 100% 100%;
}

.featured-games-cont {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1vw;
}

.my-game-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1vmin solid black;
  border-radius: 0.5vmin;
  margin-bottom:1vh;
  width:50vw;
  height:25vh;
  margin: 1vh auto;
  background-color: rgb(76, 218, 197);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.interest-cont {
  display:flex;
}

.filter-bar {
  display:flex;
  justify-content: center;
  align-items:center;
}

.filter-cont {
  display:flex;
  flex-direction: column;
}

.nav-logo {
  width:3vw;
  height:5vh;
  transform: scaleX(-1);
}

.completed {
  background-color: rgb(65, 165, 150);
}

.flex-row {
  display:flex;
  justify-content: center;
  align-items:flex-start;
}

.wrap {
  flex-wrap:wrap;
}

.flex-col {
  display:column;
}

.show-img {
  border-radius:0.5vmin;
  width:40vw;
  height:40vh;
  padding: 0 3vw;
}

.game-details {
  width: 40vw;
}

.preview-thumbnails {
  width:7vw;
  height:7vh;
}

/* .game-card-img {
  border-radius:0.5vmin;
  width:100%;
  height:100%;
  overflow:hidden;
} */


.title-cont {
  align-items: center;
  width:100%;
  height:15%;
  color:black;;
  background-color:rgba(255, 255, 255, 0.7);
}

.my-game-img {
  width:50%;
  height:100%;
  border-radius:0.5vmin;
  
}

.my-game-data {
  width:50%;
}