body {
  background-color: rgb(214, 222, 238);
  text-align: center;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size: 1.6vmin;
  font-family: 'Poppins', sans-serif;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height:15vh;
  width:15vw;
  margin:0;
}

a {
  text-decoration: none;
  color:rgb(253, 253, 253);
}



nav {
  background-color: rgb(66, 142, 204);
  border-bottom: 0.3vmin solid black;
  height:7vh;
  width:100vw;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3vh 1vw 0 1vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0vmin 0.5vmin 1vmin;
  font-family: 'Poppins', sans-serif;
  font-size:1.5vmin;
}

button {
  background-color: rgb(169, 193, 215);
  color: black;
  border:0.1vmin solid black;
  border-radius:0.3vmin;
  height:2.5vh;
  font-size:1.5vmin;
}

button:hover {
  background-color:rgb(73, 103, 130);
  color:white;
  cursor:pointer;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-size:1.5vmin;
  color:black;
}

.nav-link:hover {
  color:white;
}

.nav-div {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:40vw;
}


.site-name {
  margin-right: auto;
  font-size:4vmin;
  text-decoration: none;
  color:black;
}

.game-card-cont {
  display:flex;
  justify-content: center;
  flex: 1 1 0;
  flex-wrap: wrap;
  gap:1vmin;
}

.game-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:23vw;
  height:23vh;
  gap:1vmin;
  border: 0.1vmin solid rgb(255, 255, 255);
  border-radius: 0.5vmin;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0vmin 0.5vmin 1vmin;
  background-size: 100% 100%;
}

.featured-games-cont {
  width:90vw;
  zoom:80%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1vw;
}

.my-game-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1vmin solid black;
  border-radius: 0.5vmin;
  margin-bottom:1vh;
  width:50vw;
  height:25vh;
  margin: 1vh auto;
  background-color: rgba(41, 113, 171, 0.665);
  box-shadow: rgba(0, 0, 0, 0.35) 0vmin 0.5vmin 1vmin;
}

.interest-cont {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1vw;
}

.interest-cont button {
  width:1.9vw;
  height:2.4vh;
}

.save-changes-btn {
  width:10vw;
}

.filter-bar {
  display:flex;
  justify-content: center;
  align-items:center;
}

.filter-cont {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width:3vw;
  height:5vh;
  transform: scaleX(-1);
}

.completed {
  opacity: 0.4;
}

.dropped {
  opacity:0.4;
  background-color:rgb(199, 68, 68)
}

.flex-row {
  display:flex;
  justify-content: center;
  align-items:flex-start;
}

.wrap {
  flex-wrap:wrap;
}

.filter {
  height:3vh;
  border:0.1vmin solid black;
  border-radius:0.3vmin;
  width:7vw;
  text-align: center;
}

.filter-label {
  font-size:1.3vmin;
}

button.filter {
  align-self:flex-end;
}

.flex-col {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-img {
  border-radius:1vmin;
  width:40vw;
  height:40vh;
  padding: 0 3vw;
}

.game-details {
  width: 40vw;
}

.preview-thumbnails {
  width:7vw;
  height:7vh;
}

.title-cont {
  align-items: center;
  width:100%;
  height:15%;
  color:white;
  font-weight:bold;
  background-color: rgba(41, 113, 171, 0.665);
}

.my-game-img {
  width:50%;
  height:100%;
  border-radius:0.5vmin;
  
}

.my-game-data {
  width:50%;
}

.game-title {
  font-size:4vmin;
  margin-bottom:1vh;
}

.show-title-cont {
  border-bottom: 0.2vh solid black;
  margin-bottom:2vh;
  padding-bottom:1vh;
}

.auth-cont {
  margin-top:5vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-button {
  width:15vw;
}

.form-container {
  display:flex;
  flex-direction: column;
  width:30vw;
  justify-content: center;
  align-items: center;
}

.show-buttons {
  display:flex;
  justify-content: space-evenly;
  width:40vw;
}

.ratings-ul {
  list-style:none;
}

.game-website {
  color: rgb(66, 142, 204);
}

.reddit-logo {
  margin-top:5vh;
  width:8vw;
  height:8vh;
}

.reddit-website {
  color:rgb(255, 132, 0);
}

iframe {
  margin-top:3vh;
  width:35vw;
  height:30vh;
  border-radius:1vmin;
  box-shadow: rgba(0, 0, 0, 0.35) 1.5vmin 1.5vmin 1.5vmin;
  margin-bottom:1vh;
}

.trailer-btn {
  font-size:1.3vmin;
  height:5vh;
  width:12vw;
}

.preview-cont {
  display:flex;
  flex-wrap:wrap;
  width:40vw;
}