body {
  background-color: rgb(101, 138, 217);
  text-align: center;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

img {
  height:15vh;
  width:15vw;
}

a {
  text-decoration: none;
  color:black;
}

nav {
  border-bottom: 0.3vmin solid black;
  height:7vh;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3vh 1vw 0 1vw;
}

.site-name {
  margin-right: auto;
  font-size:4vmin;
}

.game-card-cont {
  display:flex;
  justify-content: center;
  flex: 1 1 0;
  flex-wrap: wrap;
  gap:1vmin;
}

.game-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:17vw;
  height:23vh;
  gap:1vmin;
  border: 0.3vmin solid black;
  border-radius: 0.5vmin;
  background-color: rgb(156, 199, 242);
}

.featured-games-cont {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1vw;
}